html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

#main {
    display: flex;
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

#sidebar {
    display: flex;
    width: 200px;
    flex-direction: column;
}

.sidebarItem,
.sidebarItem > img {
    max-width: 100%;
    box-sizing: border-box;
}

.sidebarItem {
    margin: 10px;
}

.sidebarItem.active .itemName,
.itemName:hover {
    cursor: pointer;
    color: #2a68ff;
}

.sidebarItem.active {
    border: 1px solid #2a68ff;
}

.itemName {
    text-align: center;
}

#content {
    display: flex;
    flex-grow: 1;
}

#catContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden;
}

#catName {
    text-transform: uppercase;
    text-align: center;
}

#catImg {
    margin: 0 auto;
    max-height: 400px;
}

#counter {
    text-align: center;
    padding: 5px;
}
